/* Shoot the core ================================== */
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
position: relative;
min-height: 1px;
padding-right: 10px;
padding-left: 10px;
}

.col-xs-5ths {
width: 20%;
float: left;
}

.p3_invisible {
visibility: hidden;
width: 100%;
height: auto;
}

.top-socialz {
float: right;
margin: 0 !important;
}
.top-socialz a {
display: inline-block !important;
margin: 0 7px;
padding: 0 !important;
}
.toggle-search:hover {
cursor: pointer;
}

/* Jetpack Carousel */
.slideshow-window{background:transparent;border:0}

/* related posts ============================= */
.pipdig_p3_related_posts ul {
padding: 0;
margin: 0 0 10px;
text-align: center;
}
.entry-content .pipdig_p3_related_posts h3, .pipdig_p3_related_posts h3 {
text-align: center;
margin: 25px 0 10px;
}
.pipdig_p3_related_posts li {
width: 24%;
display: inline-block;
list-style: none;
margin: 0 .5%;
padding: 0 0 5px;
overflow: hidden;
vertical-align: top;
}
.pipdig_p3_related_thumb {
overflow: hidden;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
-moz-transition: all 0.25s ease-out; -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out;
}
.pipdig_p3_related_thumb:hover {opacity: .7}
.pipdig_p3_related_thumb a {
display: block;
height: 100%;
width: 100%;
}
.pipdig_p3_related_title {
margin: 5px auto 0;
text-align: center !important;
width: 94%;
letter-spacing: 1px;
line-height: 13px;
}
.pipdig_p3_related_title a {
font-size: 13px;
color: #222 !important;
font-weight: 400 !important;
}
.pipdig_p3_related_thumb a:hover {opacity: .6}

/* rateyo ===================================== */
.jq-ry-container{position:relative;padding:0 5px;line-height:0;display:block;cursor:pointer}.jq-ry-container[readonly=readonly]{cursor:default}.jq-ry-container>.jq-ry-group-wrapper{position:relative;width:100%}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group{position:relative;line-height:0;z-index:10;white-space:nowrap}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg{display:inline-block}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-normal-group{width:100%}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group{width:0;z-index:11;position:absolute;top:0;left:0;overflow:hidden}

/* Instagram ================================== */
#p3_instagram_header {margin-top: 25px;margin-bottom: 20px;}
#p3_instagram_top_of_posts {margin-bottom: 30px;}
.p3_instagram_post {width:12.5%;position:relative;display:block;float:left;background-size:cover;background-repeat:no-repeat;background-position:center;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;transition:all 0.2s ease-out;text-align:center}
#p3_instagram_top_of_posts .p3_instagram_post {width: 19.5%;margin:0 .25%;}
#p3_instagram_page .p3_instagram_post {width: 20%;}
.p3_instagram_post:hover {opacity:.7}
.p3_instagram_post img {max-width:100%;height:auto;}
.p3_instagram_post .p3_instagram_likes {font:10px Montserrat, Arial, sans-serif;color:#000;position:absolute;top:50%;width:100%;}
.p3_instagram_post .p3_instagram_comments {color:#000;position:absolute;bottom:5%;left:5%}
.p3_instagram_likes {
display: none;
}
.p3_instagram_square:hover~.p3_instagram_likes{
display: block;
}
.p3_instagram_likes:hover {
display: block;
}


/* Pinterest ================================== */
#p3_pinterest_widget {
overflow: auto;
width: 100%;
}
#p3_pinterest_widget .p3_pin_wrap {
padding: 1px;
float: left;
}
#p3_pinterest_widget .p3_pin {
display: block;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
-moz-transition: all 0.25s ease-out; -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out;
}
#p3_pinterest_widget .p3_pin:hover {
opacity: .85;
}
.p3_pin_wrapper_outer {
display: inline-block;
}
.p3_pin_wrapper_outer.pin_align_center {
display: block;
text-align: center;
}
.p3_pin_wrapper_outer.pin_align_left {
float: left;
margin-right: 10px;
}
.p3_pin_wrapper_outer.pin_align_right {
float: right;
margin-left: 10px;
}
.p3_pin_wrapper {
position: relative;
line-height: 0;
display: inline-block;
max-width: 100%;
}
.p3_pin_wrapper .pin {
opacity: 0;
position: absolute;
display: block;
-moz-transition: all 0.25s ease-out; -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out;
}
.p3_pin_wrapper img {
margin: 0 !important;
}
.p3_pin_wrapper .pin img {
display: block;
}
.p3_pin_wrapper:hover .pin {
opacity: 1;
}
.p3_pin_wrapper .center {
left: 50%;
top: 50%;
}

.entry-content a {
	position: relative;
}

/* 
v2
.p3_pin_wrapper {
position: relative;
}
.p3_pin_img {
display: none;
position: absolute;
top: 20px;
left: 20px;
cursor: pointer;
}
*/

/* popular posts ============================ */
#pipdig-widget-popular-posts {
padding: 0;
margin: 0;
list-style: none;
}
#pipdig-widget-popular-posts li {
position: relative;
margin-bottom: 15px;
}
#pipdig-widget-popular-posts h4 {
font-size: 14px;
margin:0;
letter-spacing: 1px;
padding: 5px;
position: absolute;
bottom: 10%;
right: 0;
left: 0;
width: 100%;
background: #fff;
background: rgba(255, 2555, 255, .9);
}
#pipdig-widget-popular-posts a {
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out;
}
#pipdig-widget-popular-posts a:hover {
opacity: .75;
}


/* various sliders ============================ */

.cycle-prev, .cycle-next { position: absolute; top: 0; width: 11%; opacity: 0.2; z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(//pipdigz.co.uk/slider_left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(//pipdigz.co.uk/slider_right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .8; -moz-transition: all 0.25s ease-out; -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out;}

.p3_slide_link_box {
	display: block;
	width: 100%;
	height: 100%;
}
#p3_full_width_slider_site_main .p3_slide_img {
	display: block;
	width: 100%;
	height: 380px;
}
#p3_post_slider_posts_column .p3_slide_img {
	display: block;
	width: 100%;
	height: 380px;
}
#p3_post_slider_posts_column {
	margin-bottom: 35px;
}
.p3_slide_img {
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#p3_feature_header {
padding-bottom: 20px;
}
#p3_feature_header .cycle-slideshow {
margin-bottom: 0;
}
#p3_feature_header .p3_feature_slide {
position: relative;
width: 100%;
overflow: hidden;
}
#p3_full_width_slider_site_main {
margin-bottom: 20px;
}
#p3_full_width_slider_site_main .p3_feature_slide, #p3_feature_header .p3_feature_slide_banner, #p3_post_slider_posts_column .p3_feature_slide {
background: #fff;
opacity: .8;
color: #000;
padding: 5px 0;
position: absolute;
text-align: center;
left: 0;
bottom: 5%;
width: 100%;
z-index: 8;
}
#p3_full_width_slider_site_main .p3_feature_slide {
	bottom: 10%;
}
#p3_full_width_slider_site_main .p3_feature_slide h2, #p3_feature_header .p3_feature_slide_banner h2 {
display: block;
margin: 0;
padding: 0;
color: #000;
}
#p3_feature_header .p3_feature_slide .p3_invisible {
padding: 1.5%;
}
#p3_feature_header .p3_trending_panel {
float: left;
display: block;
position: relative;
width: 49%;
}

#p3_feature_header .p3_trending_panel h4 {
position: absolute;
bottom: 10%;
margin: 0;
padding: 3px;
text-align: center;
width: 100%;
color: #000;
background: #fff;
opacity: .8;
line-height: 1.2;
}

/* Popular Posts Bar ========================== */
#p3_trending_bar {
margin-bottom: 35px;
}
#p3_trending_bar .col-xs-12 {
padding-left: 0;
padding-right: 0;
}
#p3_trending_bar .p3_trending_panel {
float: left;
display: block;
position: relative;
width: 19%;
margin: .5%;
}

#p3_trending_bar .p3_trending_panel h4 {
position: absolute;
bottom: 0;
margin: 0;
padding: 3px;
text-align: center;
width: 100%;
color: #000;
background: #fff;
opacity: .8;
line-height: 1.2;
font-size: 1em;
}

/* Post slider widget ========================== */

.pipdig_widget_post_slider .cycle-slideshow {height:auto;}
.pipdig_widget_post_slider .cycle-slideshow li{display:none}
.pipdig_widget_post_slider .cycle-slideshow li.first{display:block}
.pipdig_widget_post_slider .slide-image{background-attachment:scroll;background-position:center center; background-size:cover;background-repeat: no-repeat;height:100%;width:100%;position:relative;top:-1px}
.pipdig_widget_post_slider .cycle-slideshow li {width: 100%;}
.pipdig_widget_post_slider .cycle-pager {text-align: center; width: 100%; z-index: 500; position: absolute; bottom: -10%; overflow: hidden;}
.pipdig_widget_post_slider .cycle-pager span {font-family: arial, sans-serif; font-size: 41px; width: 15px; height: 15px; display: inline-block; color: #eee; cursor: pointer;margin: 0 3px;}
.pipdig_widget_post_slider .cycle-pager span.cycle-pager-active { color: #333;}
.pipdig_widget_post_slider .cycle-pager > * { cursor: pointer;}
.pipdig_widget_post_slider .slide-inside{height:100%;padding:0;width:100%;background:transparent;transition:all .25s ease-out;-o-transition:all .25s ease-out;-moz-transition:all .25s ease-out;-webkit-transition:all .25s ease-out}
.pipdig_widget_post_slider .slide-inside:hover{background:rgba(255,255,255,.3)}
.pipdig_widget_post_slider .slide-desc{left:10%;width:80%;padding: 15px 0;}
.pipdig_widget_post_slider .read-more {padding: 7px 12px;position: relative;}
.pipdig_widget_post_slider .slide-desc h2 {margin-bottom: 8px;}

#p3_top_menu_bar {
position: relative;
}
#p3_top_menu_bar .container {
left: 0;
top: 0;
padding: 0;
width: 100%;
max-width: 100%;
}

/* shortcodes ======================== */

/* left/right columns */
.pipdig_left {
float:left;
width: 48%;
}
.pipdig_right {
float: right;
width: 48%;
}

/* 3 columns */
.pipdig_col1, .pipdig_col2, .pipdig_col3 {
float: left;
width: 32%;
}
.pipdig_col2, .pipdig_col3 {
margin-left: 2%;
}

/* pipdig_image_overlay */
.editorial-photo-text p {
margin: 0;
}

/* pipdig_image_side */
.pipdig_image_side_text {
text-align: center;
display: table-cell;
vertical-align: middle;
width: 1000px;
max-width: 100%;
overflow: hidden;
padding: 15px;
}

/* pipdig_image_overlay */
.p3_iwtb {
position: relative;
}
.p3_iwtb_image {
width: 72%;
}
.p3_iwtb_text_box {
position: absolute;
top: 500px;
right: 0;
margin: 10px;
padding: 20px;
background: #fff;
border: 1px solid #ddd;
width: 48%;
}
.p3_iwtb_text_box_left {
left: 0;
right: auto;
}
.p3_iwtb_text_box h2, .p3_iwtb_text_box h3 {
	margin-top: 0;
}

/* portfolio ====================== */

#pipdig_portfolio_filters {
overflow: hidden;
text-align: center;
}
#pipdig_portfolio_filters h6 {
display: inline-block;
padding: 5px 10px;
margin: 6px;
background: #f9f9f9;
}
#pipdig_portfolio_filters h6:hover, #pipdig_portfolio_filters h6.active {
cursor: pointer;
background: #222;
color: #fff;
}
#pipdig_portfolio .mix{
-webkit-backface-visibility: hidden;
-webkit-transform-origin: 50% 0;
}
.pipdig_portfolio_grid_item {
width: 30%;
margin: 1.5%;
display: inline-block;
vertical-align: top;
border: 1px solid #eee;
}
.pipdig_portfolio_grid_item .p3_slide_img {
position: relative;
}
.pipdig_portfolio_grid_title_box {
position: absolute;
text-align: center;
margin: 0;
width: 75%;
padding: 15px;
background: #fff;
background: rgba(255, 255, 255, .9);
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.pipdig_portfolio_grid_title_box .title {
text-align: center;
line-height: 1.3;
margin: 0;
}
.pipdig_portfolio_grid_title_box .read_more {
font: 10px Arial, sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
margin-top: 8px;
}


/* Blogger ======================== */

.tr-caption-container, .tr-caption-container tr, .tr-caption-container td {border:0}
.tr-caption-container img {width: 100%}