@media only screen and (max-width: 992px) {
	#p3_instagram_page {
		padding-bottom: 15px;
	}
	#trendingz, #home-sliderz, .top-socialz, #p3_feature_header {
		display: none;
	}
}
@media only screen and (max-width: 719px) {
	.top-socialz, #wpadminbar, .wpadminbar-nudge, #p3_top_menu_bar, #p3_trending_bar {
		display:none;
		opacity: 0;
		height: 0;
	}
	#p3_full_width_slider_site_main .p3_slide_img, #p3_post_slider_posts_column .p3_slide_img {
		height: 260px;
	}
}
@media only screen and (max-width: 400px) {
	.pipdig_left, .pipdig_right {
		width: 100%;
		float: none;
	}
	#p3_full_width_slider_site_main .p3_slide_img, #p3_post_slider_posts_column .p3_slide_img {
		height: 200px;
	}
	#p3_full_width_slider_site_main h2{
		font-size: 13px;
	}
	.site-credit {
		padding-top: 8px;
	}
}



@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}