@media only screen and (max-width: 992px) {
	#p3_instagram_page {
		padding-bottom: 15px;
	}
	#trendingz, #home-sliderz, .top-socialz {
		display: none;
	}
}
@media only screen and (max-width: 759px) {
	#p3_feature_header_recent_posts {
		margin-top: 30px;
	}
}
@media only screen and (max-width: 719px) {
	.top-socialz, #wpadminbar, .wpadminbar-nudge, #p3_top_menu_bar, #p3_trending_bar {
		display:none;
		opacity: 0;
		height: 0;
	}
	#p3_full_width_slider_site_main .p3_slide_img, #p3_post_slider_posts_column .p3_slide_img {
		height: 260px;
	}
	.pipdig_portfolio_grid_item {
		width: 47%;
	}
	.p3_iwtb_image {
		width: 100%;
	}
	.p3_iwtb_text_box {
		margin: 0;
		width: 100%;
		top: auto;
		position: relative;
	}
	.pipdig_p3_related_posts li {
		width: 49%;
	}
	#p3_featured_cats h4 {
		margin-bottom: 20px;
	}
	.entry-content .pipdig_category_section_item {
		width: 100%;
		margin: 10px 0;
	}
}
@media only screen and (max-width: 400px) {
	#p3_feature_header_big_this_month {
		display: none;
	}
	#p3_feature_header_recent_posts {
		margin-top: 0;
	}
	.pipdig_left, .pipdig_right, .pipdig_col1, .pipdig_col2, .pipdig_col3 {
		width: 100%;
		margin: 0;
		float: none;
	}
	#p3_full_width_slider_site_main .p3_slide_img, #p3_post_slider_posts_column .p3_slide_img {
		height: 200px;
	}
	#p3_full_width_slider_site_main h2{
		font-size: 13px;
	}
	.pipdig_portfolio_grid_item {
		width: 97%;
	}
	.site-credit {
		padding-top: 8px;
	}
	.entry-content .pipdig_banner {
		height: 400px;
		left: auto;
		width: 100%;
	}
	.entry-content .pipdig_banner_parallax {
		background-attachment: scroll;
	}
}



@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* rs */
.bo-garden {max-width:100%!important;width:100%!important;}