.rwmb-settings-no-boxes .postbox {
	border: 0;
	box-shadow: none;
	background: transparent;
}

.rwmb-settings-no-boxes .postbox .handlediv,
.rwmb-settings-no-boxes .postbox .hndle {
	display: none;
}

.rwmb-settings-no-boxes .postbox .inside {
	font-size: 14px;
}

.rwmb-settings-no-boxes .rwmb-field {
	padding: 20px 0;
	margin-bottom: 0;
}

.rwmb-settings-no-boxes .rwmb-label {
	font-weight: bold;
}

.nav-tab:focus,
.nav-tab:active {
	box-shadow: none;
}

.rwmb-settings-no-boxes .rwmb-clone {
	background-color: transparent;
}

.rwmb-settings-no-boxes .rwmb-tabs-left .rwmb-tab-panel {
	background-color: #fff;
}

/* Groups */

.rwmb-settings-no-boxes {

	/* Align the group label and inputs */
	.rwmb-group-wrapper > .rwmb-label + .rwmb-input .rwmb-field:first-of-type {
		padding-top: 0;
	}

	/* Align the clone sorting icon */
	.rwmb-group-clone > .rwmb-field:first-of-type {
		padding-top: 0;
	}

	/* Highlight the collapsible title and border */
	.rwmb-group-collapsible.rwmb-group-non-cloneable,
	.rwmb-group-collapsible > .rwmb-input > .rwmb-group-clone {
		border-color: #ddd;
		padding: 12px;
	}

	.rwmb-group-collapsed.rwmb-group-non-cloneable,
	.rwmb-group-collapsible > .rwmb-input > .rwmb-group-collapsed {
		padding: 0;
	}

	/* Keep consistent space for first child field in the collapsible group */
	.rwmb-group-wrapper.rwmb-group-collapsible .rwmb-group-clone > .rwmb-field:first-of-type {
		padding-top: 20px;
	}
	.rwmb-row > .rwmb-field {
		padding-top: 0;
	}
}
